<head>
    <style></style>
</head>
<body>
    <h1>Login</h1>
    <form action=/select method=post>
    username <input name=username> <br>
    password <input name=password type=password> <br>
    <input type=submit>
    </form>
    <a href=/signup>Click for signup</a>

    <!-- <img src =https://media.tenor.com/aaEMtGfZFbkAAAAC/rat-spinning.gif>
    <img src =https://media1.giphy.com/media/YGIpIZjgxL68w/giphy.gif>
    <img src =https://i.kym-cdn.com/photos/images/newsfeed/002/486/154/c06.gif> -->

</body>